<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CeneoScraper - {{ subname }}</title>
    <link rel="stylesheet" href="public/main.css">
</head>

<body>
    {% include 'navigation.html' %}
    <div id="wrapper" class="d-flex flex-column">
        <div class="row w-100">
            <div class="col-3"></div>
            <div class="col-6">
                <h2 class="text-uppercase text-center">Ekstrakcja produktu</h2>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row d-flex flex-row align-items-center text-center w-100">
            <div class="col-1"></div>
            <div class="col-10 pt-4 mt-4 px-3 mx-2 card">
                <div class="row d-flex flex-column">
                    <div class="form-group">
                        <input type="text" id="product_id" name="product_id" placeholder="Podaj id produktu">
                        <input class="btn btn-primary" type="button" id="extraction_start"
                        value="Rozpocznij ekstrakcję">
                    </div>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <p>Aby rozpocząć ekstrakcję podaj poprawny numer produktu z portalu ceneo.pl, a następnie naciśnij przycisk 
                                <span class="bg-primary text-white p-2 rounded">Rozpocznij ekstrakcję</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="public/bundle.js"></script>
</body>

</html>