{% extends "template.html" %}

{% block content %}
    <div class="row w-100">
        <div class="col-12 text-center">
            <h3 id="product-name">{{product.name}}</h3>
            <h5>{{product.subname}}</h5>
            <span class="h6">Liczba opinii: {{product.opinions}}</span> | <span class="h6">Ocena: {{product.score}}/5</span><br>
            <a data-id="{{product.id}}" href="/product/{{product.id}}/json" download="{{product.name}}.json" class="btn btn-primary">Pobierz JSON</a>
            <a href="/charts/{{product.id}}/" class="btn btn-secondary">Wykresy</a>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <table id="opinions-table" class="table table-striped table-bordered table-dark" style="width: 100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Autor</th>
                        <th>Rekomendacja</th>
                        <th>Ocena</th>
                        <th>Komentarz</th>
                        <th>Zalety</th>
                        <th>Wady</th>
                        <th>Użyteczność opinii</th>
                        <th>Nieużyteczność opinii</th>
                        <th>Zakupiono?</th>
                        <th>Data wystawienia</th>
                        <th>Data zakupu produktu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for opinion in opinions %}
                    <tr>
                        {% for feature in ['id', 'author', 'recommendation', 
                                            'stars', 'content', 'pros', 
                                            'cons', 'useful', 'useless',
                                            'purchased', 'review_date', 'purchase_date'] %}
                        <td>
                            {% if feature == 'purchased' %}
                                {% if opinion[feature] == 1 %}
                                Tak
                                {% else %}
                                Nie
                                {% endif %}
                            {% elif feature == 'pros' or feature == 'cons' %}
                                {% if opinion[feature]|length == 0%}
                                    Brak
                                {% else %}
                                    <ul style="list-style: none;">
                                    {% for l in opinion[feature] %}
                                        <li>{{l.text}},</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            {% else %}
                                {% if opinion[feature] == None %}
                                    Brak
                                {% else %}
                                    {{opinion[feature]}}
                                {% endif %}
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> 
{% endblock %}